<li class="cart__item">
  <div class="cart__item__image pull-left"><img src="{{ item.image | product_img_url: 'small' }}" alt=""/></div>
  <div class="cart__item__control">
    <!-- <div class="cart__item__delete"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="icon icon-delete"><span>{{ 'cart.header.button_delete' | t }}</span></a></div> -->
    <div class="cart__item__delete"><a href="javascript:void(0);" onclick="Shopify.removeItemByLine({{ forloop.index }});" class="icon icon-delete"><span>{{ 'cart.header.button_delete' | t }}</span></a></div>
    <!--<div class="cart__item__edit"><a href="{{item.url}}" class="icon icon-edit"><span>{{ 'cart.header.button_edit' | t }}</span></a></div>-->
  </div>
  <div class="cart__item__info">
    <div class="cart__item__info__title">
      <h2 class="title-center">
        {{ item.title }}
        {% assign property_size = item.properties | size %}
        {% if property_size > 0 %}
          <div class="cart__meta-text">
          {% for p in item.properties %}
            {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
            {% assign first_character_in_key = p.first | truncate: 1, '' %}
            {% unless p.last == blank or first_character_in_key == '_' %}
            <div class="cart-property">
              <span class="hulkapps_option_name">{{ p.first }}:</span>
              {% if p.last contains ',' %}
                <div>
                {% assign box_contents = p.last | split: ',' %}
                {% for box_content in box_contents %}
                  {{ box_content }}<br />
                {% endfor %}
                </div>
              {% elsif p.last contains '/uploads/' or p.last contains '.jpg' or p.last contains '.png' or p.last contains '.jpeg' or p.last contains '.svg' %}
                {% if p.last contains '_|_' %}
                  {% assign propertyVal = p.last | split: '_|_' %}
                  {% assign swatchVal = propertyVal | first | remove: 'http://' | replace: '&amp;amp;amp;', '&amp;amp;' | replace: '&amp;amp;lt;', '<' | replace: '&amp;amp;gt;', '>'  %}
                  {% assign swatchImage = propertyVal | last %}
                  <span class="hulkapps_option_value " style="cursor: pointer;" >
                    <div style="width:35px;height:35px;background-image:url({{swatchImage}});background-size:cover;background-position: center center;" title="" data-placement="top" data-original-title="<div style='padding:5px 0px; text-align:center;width:170px;'><div class='swatch_tooltip_title'>{{ swatchVal }}</div><div class='swatch_tooltip_data' style='width:100%;height:150px;background-image:url({{swatchImage}});background-size:cover;background-position: center center;'></div></div>" data-html="true" data-toggle="tooltip">
                    </div>
                  </span>
                  <br/>
                {% else %}
                  <span class="hulkapps_option_value" >
                    <a class="lightbox" href="{{ p.last }}">Uploaded File</a>
                  </span>
                  <br/>
                {% endif %}
              {% else %}
                <span class="hulkapps_option_value">{{ p.last | replace: '&amp;amp;amp;', '&amp;amp;' | replace: '&amp;amp;lt;', '<' | replace: '&amp;amp;gt;', '>' }}</span>
                  <br/>
              {% endif %}
            </div>
            {% endunless %}
          {% endfor %}
          </div>
        {% endif %}
      </h2>
    </div>
    <div class="cart__item__info__price"><span class="info-label">{{ 'cart.header.price' | t }}</span><span>{{item.price | money}}</span></div>
    <div class="cart__item__info__price" style="right: 35%;"><span class="info-label">{{ 'cart.header.quantity' | t }}</span><span>{{ item.quantity }}</span></div>
  </div>
</li>
