{% assign sale_on = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign sale_on = true %}
{% endif %}

{% comment %} Main Image URL. {% endcomment %}
{% assign main_url_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

{% assign PAGE_CONST = "product_custom_page" %}
{% assign current_product = product %}

{% capture collection_grid %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design == "left-right-sidebar" %}col-md-6 col-lg-6 col-xl-8{% else %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design != "closed-sidebar"  %}col-md-8 col-lg-9 col-xl-10{% else %}col-md-12 col-lg-12 col-xl-12{% endif %}{% endif %}{% endcapture %}
{% capture product_grid %}{% case settings.products_in_fill_box_column %}{% when 'two' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6{% when 'three' %}col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4{% when 'four' %}col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3{% when 'six' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2{% when 'five' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth{% when 'nine' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-one-nine{% else %}{% endcase %}{% endcapture %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  <section class="content offset-top-0">
    <div class="container">
      <div class="row product-info-outer">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
              <div class="{% if settings.product_header_type == "default" %}col-sm-6 col-md-6 col-lg-6 col-xl-6{%else%}col-sm-4 col-md-4 col-lg-4 col-xl-4{% endif %} hidden-xs">
              {% if cart.attributes["chooser"] == "we-choose" %}
                {% include "product-page-gallery" type: "default" %}
              {% else %}
                {% include "product-choose-cookies-picker" %}
              {% endif %}
            </div>
            <div class="product-info col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {% include "product-choose-cookies-description" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% unless product.variants[0].option1 contains "Default" %}
  {% include "swatch-javascript" %}
  {% else %}
  <script>
    if(jQuery('.product-info .product-info__sku .sku').length) {
      if(jQuery('.product-info .product-info__sku .sku').text() == "") {
        var $ava = jQuery(".product-info .product-info__availability");
        if($ava.hasClass('product-info__availability')){ $ava.removeClass('product-info__availability') }
        jQuery('.product-info .product-info__sku').remove();
      }
    }
  </script>
  {% endunless %}
</div>


{% comment %}
<div class="container">
  <div class="row">
    <aside class="{{ collection_grid }}" id="centerColumn">
      <div class="title-box"><h2 class="text-center title-under">Choose How Many You Want</h2></div>
	    {% for product in collections.flavors.products %}
      	  <div class="{{ product_grid }}">
        	<div class="product-picker row">
          	  <img src="{{ product.featured_image | product_img_url: '180x180' }}" alt="{{ product.title }}"/>
          	  <div class="picker-title">{{ product.title }}</div>
        	</div>
      	  </div>
    	{% endfor %}
    </aside>
  </div>
</div>
{% endcomment %}
